<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>928019744619-vc897hc0bsvamahprb6e0d0f2h1m367n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.928019744619-vc897hc0bsvamahprb6e0d0f2h1m367n</string>
	<key>API_KEY</key>
	<string>AIzaSyA4xM4pBXzPBRhHeLT4JBAJ2PvIqoZP4rg</string>
	<key>GCM_SENDER_ID</key>
	<string>928019744619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sample.RestfulLogin</string>
	<key>PROJECT_ID</key>
	<string>tripko-1c2e8</string>
	<key>STORAGE_BUCKET</key>
	<string>tripko-1c2e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928019744619:ios:22b82ec6703f0a6f2f6e2e</string>
</dict>
</plist>